:root {
  /* 主题主色 */
  --ui-color-primary: #409EFF;
  --ui-color-primary-hover: #66b1ff;
  --ui-color-primary-active: #337ecc;
  --ui-color-primary-disabled: #a0cfff;

  /* 危险色（Danger） */
  --ui-color-danger: #f56c6c;
  --ui-color-danger-hover: #f78989;
  --ui-color-danger-active: #dd6161;
  --ui-color-danger-disabled: #fbbebe;

  /* 通用 */
  --ui-color-text-white: #ffffff;
}
